HOST_IP=44.213.33.161
WEB_PORT=3000
API_PORT=5001

# ========== Postgre ==========
POSTGRES_USER=dify
POSTGRES_PASSWORD=dify
POSTGRES_DB=dify
DATABASE_URL=postgresql://dify:dify@postgres:5432/dify

# ========== Redis ==========
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0
RDDIS_URL=redis://redis:6379/0

# ========== Vector DB / RAG ==========
VECTOR_STORE=qdrant
QDRANT_URL=http://qdrant:6333

# ========== LLM ==========
LLM_PROVIDER=ollama
OLLAMA_BASE_URL=http://ollama:11434

# ==========  API ==========
REACT_APP_API_BASE_URL=http://44.213.33.161

# ========== RAG Embedding ==========
ENABLE_RAG=true
RAG_EMBEDDING_ENGINE=ollama
RAG_EMBEDDING_MODEL=nomic-embed-text
RAG_EMBEDDING_DIM=768

OPENAI_API_KEY=YOUR_API_KEY